@import "scss/def-settings";

#linkList {
    list-style-type: circle;
    li {
        padding: 3px;
        text-underline-offset: 2px;
        transition: all 200ms;

        * {
            transition: inherit;
            color: #444077;
            &:hover {
                color: #0bb;
            }
        }
    }
}

.hidden {
    display: none;
}
#treeOfDir {
    display: inline-block;
}
.marked {
    background-color: #ffa984;
}

th,
td {
    border: 1px solid #000;
}

.darkener {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: #00000077;
    transition: all 200ms ease-in-out;
}
.coolModal {
    text-align: center;
    background-color: $def-bg-color;
    z-index: 3;
    position: fixed;
    top: -20vh;
    left: 20vw;
    width: 60vw;
    height: 20vh;
    transition: all 200ms ease-in-out;
    &.load {
        top: 10vh;
    }
    button {
        width: 80%;
    }
}

#svetofor-interface {
    display: flex;
    #svetofor {
        margin-right: 20px;
        border: 2px solid #888;
        border-radius: 20px;
        display: flex;
        div {
            width: 100px;
            height: 100px;
            margin: 15px;
            background-color: #888;
            border-radius: 50%;
        }
        #redlight.active {
            background-color: #f00;
        }
        #yellowlight.active {
            background-color: #fa0;
        }
        #greenlight.active {
            background-color: #0f0;
        }
    }
    #svetofor-button {
        background-color: #ddd;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        border: 0;
        border-radius: 5px;
        border-bottom: 2px solid #888;
        border-right: 2px solid #888;
    }
}

#tooltip-buttons-container {
    .button-container {
        display: inline-block;
        text-align: center;
        position: relative;
        .tooltip {
            z-index: 2;
            position: absolute;
            text-align: center;
            padding: 6px;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            background-color: #6630dd;

            &.below {
                top: auto;
                bottom: -35px;
            }
        }
    }
}

#btn2 {
    margin-left: 100px;
}
